@media (max-width: 875px) {
    .header {
        flex-direction: column;
    }

    .logo h1 {
        font-size: 40px;
    }

    .logo {
        margin-bottom: 100px;
    }

    .menu {
        flex-direction: column;
    }

    ul.menu li {
        margin-bottom: 50px;
        margin-left: 0;
    }

    ul.menu li a {
        font-size: 40px;
        padding: 17px 41px;
    }

    .header ul.menu li a.btn {
        font-size: 18px;
        margin-top: 15px;
    }
}