@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap');

:root{
    --fonte-padrao: 'Public Sans', sans-serif;
    --cor1: #5BC241;
    --cor2: #ffffff;
    --cor3: #000000;
}

body {
    font-weight: 400;
    font-family: var(--fonte-padrao);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
}

.header .logo img {
    margin-right: 6px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    margin-left: 30px;
}

.menu li a {
    padding: 11px 7px;
    font-size: 15px;
    transition: 0.3s ease-in-out;
}

.menu li a:hover {
    background-color: var(--cor1);
    color: var(--cor2);
}

.menu li a.btn {
    background-color: var(--cor1);
    color: var(--cor2);
    border-radius: 10px;
    padding: 11px 21px;
    font-size: 15px;
}