p {
    color: coral;
    font-size: 24px;
    font-weight: bold;
}

.bg {
    background-color: lightgreen;
    background-image: url(img/espaco.jpg);
}

.bg-image {
    width: 350px;
    height: 219px;
}

.bg-repeat {
    background-repeat: no-repeat;
    height: 540px;
}

.bg-size-cover {
    background-size: cover;
    height: 540px;
}

.bg-fixed {
    background-attachment: fixed;
    height: 540px;
}

.bg-position {
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 540px;
}

.bg-curto {
    background: black url(img/espaco.jpg) no-repeat fixed center center;
    background-size: cover;
}