@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap');

:root {
    --fonte-padrao: 'Public Sans', sans-serif;
    --cor1: #5BC241;
    --cor2: #FFFFFF;

}

.header {
    display: flex;
    justify-content: space-between;
    padding: 45px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    margin-right: 6px;
}

.logo h1 {
    font-family: var(--fonte-padrao);
    font-size: 20px;
    font-weight: 800;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu li a {
    font-family: var(--fonte-padrao);
    font-size: 15px;
    font-weight: 400;
    padding: 11px 7px;
    margin-left: 30px;
    transition: 0.3s ease-in-out;
}

.menu li a:hover {
    background-color: var(--cor1);
    color: var(--cor2);
}

.menu li a.btn {
    background-color: var(--cor1);
    color: var(--cor2);
    padding: 10px 21px;
    font-weight: 300;
    font-size: 15px;
    border-radius: 10px;
}